$icomoon-font-family: "gambling" !default;
$icomoon-font-path: "fonts" !default;

$icon-star-half: "\e900";
$icon-star-empty: "\e901";
$icon-star: "\e902";
$icon-search: "\e903";
$icon-hamburger: "\e904";
$icon-clock: "\e905";
$icon-eye: "\e906";
$icon-comment-2: "\e907";
$icon-plus: "\e908";
$icon-minus: "\e913";
$icon-instagram: "\e909";
$icon-email: "\e90a";
$icon-plus-square: "\e90b";
$icon-check: "\e90c";
$icon-facebook: "\e90d";
$icon-in: "\e90e";
$icon-twitter: "\e90f";
$icon-comment: "\e910";
$icon-chevron-right: "\e911";
$icon-chevron-left: "\e914";
$icon-chevron-down: "\e912";
$icon-chevron-up: "\e915";

