.search-results {}

.search-results__content {}

.search-results__pagination {}

.search-result-item {
  position: relative;
  padding: rem(18);
  background-color: $black-light;
  color: $white;
  + .search-result-item {
    margin-top: rem(10);
  }

  mark {
    background-color: transparent;
    padding: 0;
    color: $accent;
  }
}

.search-result-item__title {
  color: $white;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.search-result-item__image {
  position: relative;
  margin: rem(0 -20 20);
  padding-bottom: 100%;
  a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }
  }
}