.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-list-item {
    color: inherit;
    text-decoration: none;
    font-size: rem(21);
    margin: rem(0 11);
    &:hover {
        text-decoration: none;
        @include desktop {
            color: $accent;
        }
    }
}