[viewBag]
==
<!-- bonus-cards-item start -->
<div class="casinosCardsItem_second casinosCardsItem_second--light">
    <div class="casinosCardsItem_second__content">
        <div class="casinosCardsItem_second__logo">
            <img src="{{ card.image|media }}" alt="">
        </div>
        <div class="casinosCardsItem_second__meta">
            <div class="casinosCardsItem_second__title">{{card.title}}</div>
            <div class="casinosCardsItem_second__info">
                {{card.detail_bonus|raw}}
            </div>
            <div class="casinosCardsItem_second__actions">
                <a href="{{ card.game_link }}" target="_blank" class="btn btn-primary">{{ card.game_link_title }}</a>
            </div>
        </div>
    </div>
</div>
<!-- bonus-cards-item end -->