[viewBag]

[SiteSettings]
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ this.page.title }} - {{ SiteSettings.get('site_name') }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="{{ 'assets/css/style.min.css'|theme }}" rel="stylesheet">
    {% styles %}
</head>