[staticPage]
useContent = 1
default = 0
==
{% partial 'site/head' %}

    <body>
    
    {% partial 'site/header' %}
    
    <main class="main">

        {% partial 'site/top-search' %}
        
        <div class="page-wrapper">

            <div class="content-box">
                <div class="content-box__content">
                    {% partial 'recent-posts/recentPostsTabsPaged' layoutType=2 %}
                </div>
            </div>
            
            <div class="content-box">
                <div class="content-box__content">
                    <div class="text-content">
                        {% page %}
                    </div>
                </div>
            </div>

            {% partial 'infoPagesWidgets' %}
            
        </div>
    </main>
    
{% partial 'site/footer' %}